<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TailyCareApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_tailycare_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Feedm"
        tools:targetApi="31">
        <activity
            android:name=".petsFeature.ui.view.PetInfoActivity"
            android:exported="true"
            android:label="@string/title_activity_pet"
            android:theme="@style/Theme.Feedm" />
        <activity
            android:name=".petsFeature.ui.view.FormActivity"
            android:exported="true"
            android:label="@string/title_activity_from_compose"
            android:theme="@style/Theme.Feedm" />
        <activity
            android:name=".petsFeature.ui.view.PetsActivity"
            android:exported="true"
            android:label="@string/title_activity_pet_compose"
            android:theme="@style/Theme.Feedm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>